<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">


    <script>
        const ROOM_ID = "<%= roomId %>"
        const isDoc = "<%= isDoc %>"
        const doctorName = "<%= doctorName %>"
        const patientName = "<%= patientName %>"
        const doctorEmail= "<%= doctorEmail %>"
        const patientEmail = "<%= patientEmail %>"
        const time = "<%= time %>"
        let myLink = "https://medimeet.herokuapp.com/" + "<%= roomId %>" + "/prescription"

        function redirectToNewTab() {
            // window.location.href = myLink;
            window.open(
                myLink,
                '_blank' // <- This is what makes it open in a new window.
            );
        }

    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src = "/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Appointment</title>

    <style>
        
        
        
    </style>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyB8cz2hXKJG7u-tRCtAkPyEQ5AqMXBY3Lc",
          authDomain: "imagetotextf.firebaseapp.com",
          databaseURL: "https://imagetotextf.firebaseio.com",
          projectId: "imagetotextf",
          storageBucket: "imagetotextf.appspot.com",
          messagingSenderId: "447880853522",
          appId: "1:447880853522:web:c9ebec7756f596c6f8c0cb"
        };
      
        // Initialize Firebase
        const firebase = initializeApp(firebaseConfig);
    </script>
</head>

<body>
    <div class="wrapper">
        <div id="video-grid"></div>    

        <div style="flex: 0.3; margin: auto; height: fit-content; width: fit-content;">
            <h2 style="color: #63BED2;">Doctor's Name</h2>
            <h1>Dr. <%= doctorName %></h1>

            <br>

            <h2 style="color: #63BED2;">Patient's Name</h2>
            <h1><%= patientName %></h1>

            <br>

            <h2 style="color: #63BED2;">Time</h2>
            <h1><%= time %></h1>

            <br>

            <% if(isDoc) { %>
            <p><strong>Press Record Audio to start the AI bot to listen for Prescription Generation</strong></p>

            <div id="controls">
                <button id="recordbtn" class="btn btn-danger" onclick="Rec()">Record</button>
                <button id="stopbtn" class="btn btn-danger" disabled onclick="Stop()">Stop</button>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <ul id="list">
                    
                </ul>
            </div>

            
            <a onclick="redirectToNewTab()" class="hidden" id="view-presc-link">View Prescription</a>

            

            <% } %>

        </div>
    </div>

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>



        
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>


</body>
</html>